%h1 Video List

%p
  - tag_cloud Video.tag_counts, %w[text-muted text-success text-primary] do |tag, css|
    = link_to tag.name, tag_path(tag.name), class: css

%p
  - @list.each do |video|
    = render :partial => 'videos/list_item', :locals => { :video => video }
%p
- if @list.empty?
  .alert.alert-dismissable{class: "alert-warning"}
    %button.close{'data-dismiss' => 'alert', 'aria-hidden' => true} &times;
    = msg

%h1
  Select the films you love
%p
  - @response.each do |f|
    = image_tag @url + 'w154' + f['backdrop_path']
    %br
    = f['original_title']
    %p